# Cost of Living Across East Africa: An Interactive Dashboard

**Problem statement** : The project aims to compare affordability across major East African cities using real data from Numbeo. It focuses on capital cities including Nairobi Kenya, kampala Uganda and Dar Es Salaam Tanzania.

### 1.1 Business Understanding

People planning to travel, relocate, or expand business operations often struggle to understand realistic cost of living differences across cities or countries.

This project aims to target: Digital nomads, small businesss or startups looking to expand, NGOs that would like a indepth look at afforability in East Africa.

**Objectives**
- To create an interactive dashboard that visualizes the cost of living metrics across cities/countries
- Visualize affordability rankings
- Understand disparities: Compare income vs. cost of living across cities
- Develop scoring systems: Create an "affordability index" using weighted average
- Deploy interactive dashboard on streamlit for public use.

**Data Source** 
The data is scraped from Numero https://www.numbeo.com into a CSV file with the focused cities.

### 3. Data Understanding

In [7]:
#Import relevant libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
# Load the dataset
df = pd.read_csv('cost_of_living_cities.csv')
df.head()

,Item,Price Range,Average Price,City
0,"Meal, Inexpensive Restaurant","10,000.00 USh","5,000.00-15,000.00",Kampala
1,"Meal for 2 People, Mid-range Restaurant, Three...","90,000.00 USh","55,000.00-150,000.00",Kampala
2,McMeal at McDonalds (or Equivalent Combo Meal),"31,000.00 USh","25,000.00-35,811.98",Kampala
3,Domestic Beer (0.5 liter draught),"5,000.00 USh","3,500.00-7,000.00",Kampala
4,Imported Beer (0.33 liter bottle),"9,000.00 USh","6,500.00-15,000.00",Kampala


### 4. Exploratory Data Analysis


### 5. Modelling
Recommender Systems
Determine the best model

### 6. Evaluation

### 7. Recommendations

### 8. Summary